.container {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: 3rem;
    color: #fff;
  }

  input {
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    outline: none;
    width: 60%;
    max-width: 300px;
    margin-top: 10px;
  }

  button {
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    background: #32cd32;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }

  button:hover {
    background-color: #008000;
  }
}

@media screen and (max-width: 576px) {
  .container {
    h1 {
      font-size: 1.9rem;
    }
  }
}
